/*************
MIX-INS
*************/

@mixin flexbox-cb($prefix, $option) {
    -webkit-box-flex#{$prefix}: #{$option};      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex#{$prefix}: #{$option};         /* OLD - Firefox 19- */
    -webkit-flex#{$prefix}: #{$option};          /* Chrome */
    -ms-flex#{$prefix}: #{$option};              /* IE 10 */
    flex#{$prefix}: #{$option};
}

@mixin display-flex(){
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  // display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
}

@mixin vendor($name, $argument) {
  #{$name}: $argument;
  -webkit-#{$name}: $argument;
  -ms-#{$name}: $argument;
  -moz-#{$name}: $argument;
  -o-#{$name}: $argument;
}

/**********
GENERAL FOR COMPOSE
***********/


body .big-map {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
}

.big-map-container {
  position: relative;
  top: -10px;
  left: -10px;

  width: 100%;
  padding: 0;
  margin: 0;
}

/***************
SIDE MENU
**************/

#big-map-menu {
  @include display-flex();
  @include flexbox-cb(-flow, column);
  @include flexbox-cb(-wrap, nowrap);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 160px;
  height: 100vh;

  margin: 0;
  padding-right: 0;

  border: 2px solid #eee;
  border-top: none;

  list-display: none;

  form {
    margin-bottom: 0;
  }

  label {
    font-size: 1.2rem;
    margin-bottom: 1px;
    margin-top: 10px;
  }

  input[type=text] {
    width: 90%;
    height: 20px;
    font-size: 1rem;
  }

  textarea {
    width: 90%;
    max-width: 90%;
    margin: 0;
  }

  input {
    &[type="checkbox"],
    &[type='text'] {
      margin: 0;
    }
  }

  select {
    width: 90%;
    padding: 0;
    margin: 0;
    height: 20px;
    font-size: 1rem;
  }

  /****************
  TOOLTIP
  *****************/
  .tooltips-container {
    position: relative;
    display: inline-block;
    margin-left: 2px;
    font-size: 1rem;

    .tooltips {
      cursor: pointer;
      display: inline;

      &:hover {
        transition: opacity 0.5s ease-in;
        -webkit-transition: opacity 0.5s ease-in; /* Safari */;

        &:before {
          margin-left: 0;
          opacity: 1;
        }
      }

      &:before {
        position: fixed;
        max-width: 300px;
        margin-top: 10px;
        margin-left: -2000px; /* IE fix for incompatability with pointer-events: none */
        padding: 8px;

        background: white;
        border: $light-grey 1px solid;
        border-radius: 3px;

        color: $dark-grey;
        font-weight: bold;
        content: attr(data-tooltip);

        opacity: 0;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s; /* Safari */

        z-index: 8;
        pointer-events: none;
      }
    }
  }

  /****************
  MENU TABS
  *****************/

  .menu-tabs-label {
    background-color: white;
    box-shadow: inset 3px 4px 5px $light-grey;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
  
    &:hover {
      color: $link-color;
    }
  }

  .menu-tabs {
    position: relative;
    margin-top: 50px;
    .menu-tabs-input {
      display: none;
    }

    .menu-tabs-label {
      width: 30px;
      height: 100px;
      margin-left: 156px;
      z-index: 7;
      margin-top: -5px;
      display: inline-block;
      // padding: 20px 0;
      -webkit-trasition: color 0.3s linear;
      transition: color 0.3s linear;
      
      div {
        position: absolute;
        transform: rotate(90deg);
        width: 100px;
        height: 50px;
        // top: 20px;
        margin-top: 25px;
        left: 105px;
      }
    }
  }

  [id^='tab']:checked + label {
    color: $link-color;
    box-shadow: 2px -3px 5px $light-grey;
  }

  .tab-content {
    position: absolute;
    width: 150px;
    left: -225px;
    margin-top: -50px;
    top: 10px;
    opacity: 0;
    @include vendor(transition, all 0.3s ease-in-out);
  }
  
  #tab1:checked ~ #tab-content1,
  #tab2:checked ~ #tab-content2,
  #tab3:checked ~ #tab-content3 {
    left: 10px;
    opacity: 1;
  }

  /****************
  SEARCH
  *****************/

  .atlas-search-field {
    width: 100%;
    background: rgba($light-grey, 0.1);
    border: $light-grey solid 1px;
    border-right: none;

    .map-location-search-box {
      background-image: image-url('search-24x24.png');
      background-size: 15px;
      background-repeat: no-repeat;
      background-position: 2px 2px;
      padding-left:22px;
      width: 90%;
      margin: 5%;
      font-size: 1.2rem;
    }

    .map-location-search-button {
      width: 32%;
      padding: 0 10px;
      text-align: center;
    }

  }

  /**************
  NOTES + CHECKBOX
  ***************/

  .include-notes,
  .private-map {
    width: 90%;
    color: #666;

    label {
      display: inline;
    }
  }

  .include-notes {
    margin-top: -5px;
    margin-bottom: 15px;
  }

  .private-map {
    font-size: 1rem;
  }


  /**************
  BASEMAP OPTIONS
  ***************/

  .selectize-control {
    width: 85%;

    .selectize-input {
      padding: 1px 5px;

      &::after {
        right: 5px;
      }
    }

    .item, .selectize-dropdown-content {
      font-size: 1rem;
    }

    .selectize-dropdown-content {
      height: 60px;
    }
  }

  /**************
  PAGE ORIENTATION AND PAPER SIZE
  ***************/

  .page-sizing-and-orientation {
    @include display-flex();
    @include flexbox-cb(-flow, row);
    @include flexbox-cb(-wrap, wrap);
    width: 100%;

   .page-layout-group {
      width: 86%;
    }
  }

  /**************
  ADD-ONS
  ***************/

  .add-ons {
    color: #666;

    label {
      display: inline;
      line-height: 3rem;
    }
  }

  /**************
  PRINT ATLAS BUTTON
  ***************/

  #final-step {
    position: absolute;
    top: calc(242px + 34px + 34px);
    width: 90%;
    height: 40px;
    margin-left: 10px;
    padding: 0;
    background-color: #444;
    border-color: 1px solid #d1d1d1;

    font-size: 1.3rem;
    color: $light-grey;

    &:hover {
      color: #fff;
    }
  }

  .cancel {
    position: absolute;
    top: calc(242px + 34px + 34px + 50px);
    width: 100%;
    height: 20px;
    padding-right: 10%;
    text-align: right;
    text-decoration: none;
  }
} //end menu

/**************
FULL-SCREEN MAP
***************/

#map {
  width: calc(100vw - 160px);
  position: fixed;
  height: 100vh;
  margin: 0;
  margin-left: 160px;
  padding: 0;

 .field-papers-logo {
    position: fixed;
    top: 5px;
    right: 10px;
    width: 125px;
    z-index: 2;

    img {
      width: 125px;
    }
  }

  /**************
  ROW AND COL MODIFIERS
  ***************/

  .col-row-modifiers {
    width: 240px;
    align-items: left;
    margin-left: 5px;
    z-index: 999;
    position: fixed;
    bottom: 15px;
    left: 320px;
    display: inline-block;

    .col-row-modifiers-group {
      width: 110px;
      display: inline-block;

      .grid-modifier-group {
        height: 30px;
        width: 110px;
        font-size: 16px;
        font-weight: 600;
        display: inline-block;

        cursor: pointer;
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;
        user-select: none;

        div {
          display: inline-block;
          width: calc(85px/3);
          height: 30px;
          margin: 0;
          margin-left: -5px;
          padding-top: 2.5px;

          background-color: #fff;
          border: 1px solid rgba($dark-grey, 0.7);
          box-shadow: none;
          text-align: center;
        }

        .minus {
          background-color: #eee;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border-right: none;

          &:active {
            background-color: $light-grey;
          }
        }

        .plus {
          background-color: #eee;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          border-left: 1px solid rgba($dark-grey, 0.5);

          &:active {
            background-color: $light-grey;
          }
        }

        .number {
          text-align: center;
          border-left: 1px solid rgba($dark-grey, 0.5);
          border-right: none;
        }
      }
    }
  }
}


/*******************
LARGER THAN A TABLET
********************/

@media (#{$bp-larger-than-tablet}) {
  /**************
  LARGER SIDE MENU
  ***************/
  #big-map-menu {
    width: 225px;
    background-color: white;

    .accordion-header {

      h5 {
        font-size: 2rem;
      }

      .box {
        margin-top: 5px;
      }
    }

    /**************
    LARGER ACCORDION
    ***************/

    .accordion {

      .accordion-group {
        height: 42px;
      }

      .selected-group {
        // height: calc(100vh - 126px - 40px - 52px);
        height: 300px;
      }
    }

    /***********
    LARGER GENERIC
    ************/

    label {
      font-size: 1.4rem;
      margin-bottom: 2px;
    }

    input[type=text] {
      height: 30px;
    }

    textarea {
      margin-bottom: 10px;
    }

    input {
      &[type="checkbox"],
      &[type='text'] {
        margin-bottom: 10px;
      }
    }

    select {
      margin-bottom: 10px;
      height: 30px;
    }

    .tooltips-container {
      font-size: 1.2rem;
    }

    /**************
    LARGER SEARCH
    ***************/

    .atlas-search-field {
      .map-location-search-box {
        background-size: 20px;
        background-position: 4px 4px;
        padding-left:30px;
        font-size: 1.5rem;
      }
    }

    /****************
    LARGER MENU TABS
    *****************/

    .menu-tabs-label {
      font-size: 1.4rem;
    }

    .menu-tabs {
      margin-top: 30px;
      .menu-tabs-label {
        width: 30px;
        height: 110px;
        margin-left: 222px;
        
        div {
          width: 140px;
          margin-left: 50px;
        }
      }
    }

    .tab-content {
      width: 200px;
      top: 30px;
    }
    
    #tab1:checked ~ #tab-content1,
    #tab2:checked ~ #tab-content2,
    #tab3:checked ~ #tab-content3 {
      left: 20px;
      opacity: 1;
    }

    /**************
    LARGER PAGE ORIENTATION AND PAPER SIZE
    ***************/

    .page-sizing-and-orientation {
     .page-layout-group {
        width: 92px;
      }
    }

    /**************
    LARGER BASEMAP
    ***************/
    .selectize-control {
      width: 86%;
    }

    /**************
    LARGER ROW AND COL MODIFIERS
    ***************/
    .col-row-modifiers-group {
      margin-bottom: 10px;
    }

    /**************
    LARGER PRINT ATLAS BUTTON
    ***************/
    #final-step {
      top: calc(300px + 42px + 12px);
      height: 50px;

      font-size: 2rem;
    }

    .cancel {
      top: calc(300px + 42px + 42px + 20px);

    }
  }

  #map {
    margin-left: 223px;
    width: calc(100vw - 225px);
    top: 0;
    left: 0;

    .field-papers-logo, .field-papers-logo img {
      width: 175px;
    }
  }
}
