/*************
MIX-INS
*************/

@mixin flexbox-cb($prefix, $option) {
    -webkit-box-flex#{$prefix}: #{$option};      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex#{$prefix}: #{$option};         /* OLD - Firefox 19- */
    -webkit-flex#{$prefix}: #{$option};          /* Chrome */
    -ms-flex#{$prefix}: #{$option};              /* IE 10 */
    flex#{$prefix}: #{$option};
}

@mixin display-flex(){
  display: flex;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  // display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;
}

/**********
GENERAL FOR COMPOSE
***********/


body .big-map {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
}

.big-map-container {
  position: relative;
  top: -10px;
  left: -10px;

  width: 100%;
  padding: 0;
  margin: 0;
}

/***************
SIDE MENU
**************/

#big-map-menu {
  @include display-flex();
  @include flexbox-cb(-flow, column);
  @include flexbox-cb(-wrap, nowrap);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 130px;
  height: 100vh;

  margin: 0;
  padding: 0;

  border: 2px solid #eee;
  border-top: none;

  form {
    margin-bottom: 0;
  }

  label {
    font-size: 1rem;
    margin-bottom: 2px;
  }

  input[type=text] {
    width: 90%;
    height: 20px;
    font-size: 1rem;
  }

  textarea {
    width: 90%;
    max-width: 90%;
    height: 30px;
    margin: 0;
  }

  input {
    &[type="checkbox"],
    &[type='text'] {
      margin: 0;
    }
  }

  select {
    width: 90%;
    padding: 0;
    margin: 0;
    height: 20px;
    font-size: 1rem;
  }

  /****************
  TOOLTIP
  *****************/
  .tooltips-container {
    position: relative;
    display: inline-block;
    margin-left: 2px;
    font-size: 1rem;

    .tooltips {
      cursor: pointer;
      display: inline;

      &:hover {
        transition: opacity 0.5s ease-in;
        -webkit-transition: opacity 0.5s ease-in; /* Safari */;

        &:before {
          margin-left: 0;
          opacity: 1;
        }
      }

      &:before {
        position: fixed;
        max-width: 300px;
        margin-top: 10px;
        margin-left: -2000px; /* IE fix for incompatability with pointer-events: none */
        padding: 8px;

        background: white;
        border: $light-grey 1px solid;
        border-radius: 3px;

        color: $dark-grey;
        font-weight: bold;
        content: attr(data-tooltip);

        opacity: 0;
        transition: opacity 0.3s;
        -webkit-transition: opacity 0.3s; /* Safari */

        z-index: 8;
        pointer-events: none;
      }
    }
  }

  /****************
  MENU LABELS AND GROUP
  *****************/
  h5 {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: -5px;
  }

  label {
      color: #444;
      font-weight: 400;
  }

  .menu-group-container{
    overflow-y: auto;
    .menu-group {
      padding: 10px;
      // padding-bottom: 20px;
      border-bottom: $light-grey 2px solid;
    }
  }
  

  /****************
  SEARCH
  *****************/

  .atlas-search-field {
    width: 100%;
    background: rgba($light-grey, 0.1);
    border: $light-grey solid 1px;
    border-right: none;
    display: inline;

    .map-location-search-box {
      width: 60%;
      height: 37px;
      margin: 5%;
      display: inline-block;
      float: left;
    }

    .map-location-search-button {
      display: inline-block;
      border: 1px solid $light-grey;
      background-color: white;
      border-radius: 5px;
      width: 25%;
      font-size: 1rem;
      // height: 30px;
      float: right;
      margin: 5%;
      margin-left: 0;
      padding: 0;
      // padding-top: -10px;
      // text-align: center;
    }
  }

  /**************
  NOTES + CHECKBOX
  ***************/

  .include-notes,
  .private-map,
  #map-lock-box {
    width: 90%;
    color: #666;

    label {
      display: inline;
    }
  }

  .include-notes {
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .private-map {
    margin-bottom: -10px;
  }

  /**************
  BASEMAP OPTIONS
  ***************/


  /**************
  PAGE ORIENTATION AND PAPER SIZE
  ***************/

  .page-sizing-and-orientation {
    @include display-flex();
    @include flexbox-cb(-flow, row);
    @include flexbox-cb(-wrap, wrap);
    width: 100%;

   .page-layout-group {
      width: 50px;
    }
  }

  /**************
  ROW AND COL MODIFIERS
  ***************/

  .col-row-modifiers {
    width: 130px;
    align-items: left;
    margin-bottom: 20px;

    .col-row-modifiers-group {
      width: 112px;
      align-items: left;

      .grid-modifier-group {
        height: 20px;
        width: 80px;
        font-size: 13px;
        display: inline-block;

        cursor: pointer;
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;
        user-select: none;

        div {
          display: inline-block;
          width: calc(70px/3);
          height: 25px;
          margin: 0;
          margin-left: -4px;
          padding-top: 2.5px;

          background-color: #fff;
          border: 1px solid #d1d1d1;
          box-shadow: none;
          text-align: center;
        }

        .minus {
          background-color: #eee;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border-right: none;
        }

        .plus {
          background-color: #eee;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          border-left: none;
        }

        .number {
          text-align: center;
        }
      }
    }
  }

  /**************
  ADD-ONS
  ***************/

  .add-ons {
    color: #666;

    label {
      display: inline;
      line-height: 3rem;
    }
  }

  /**************
  PRINT ATLAS BUTTON
  ***************/

  #final-step {
    bottom: 20px;
    margin-top: 10px;
    width: 90%;
    height: 40px;
    margin-bottom: 5px;
    padding: 0;
    background-color: #444;
    border-color: 1px solid #d1d1d1;

    font-size: 1.3rem;
    color: $light-grey;

    &:hover {
      color: #fff;
    }
  }

  .cancel {
    display: block;
    float: right;
    bottom: 0;
    width: 100%;
    height: 20px;
    padding-right: 10%;
    text-align: right;
    text-decoration: none;
  }
} //end menu

/**************
FULL-SCREEN MAP
***************/

#map {
  width: calc(100vw - 130px);
  height: 100vh;
  margin: 0;
  margin-left: 130px;
  padding: 0;

 .field-papers-logo {
    position: fixed;
    top: 5px;
    right: 10px;
    width: 125px;
    z-index: 2;

    img {
      width: 125px;
    }
  }
}


/*******************
LARGER THAN A TABLET
********************/

@media (#{$bp-larger-than-tablet}) {
  /**************
  LARGER SIDE MENU
  ***************/
  #big-map-menu {
    width: 225px;

    /***********
    LARGER GENERIC
    ************/

    label {
      font-size: 1.4rem;
      margin-bottom: 2px;
    }

    input[type=text] {
      height: 30px;
    }

    textarea {
      margin-bottom: 10px;

    }

    input {
      &[type="checkbox"],
      &[type='text'] {
        margin-bottom: 10px;
      }
    }

    select {
      margin-bottom: 10px;
      height: 30px;
    }

    h5 {
      font-size: 1.8rem;
    }

    .tooltips-container {
      font-size: 1.2rem;
    }

    /**************
    LARGER SEARCH
    ***************/

    .atlas-search-field {
      .map-location-search-button {
        font-size: 1.5rem;
      }
    }

    /**************
    LARGER PAGE ORIENTATION AND PAPER SIZE
    ***************/

    .page-sizing-and-orientation {
     .page-layout-group {
        width: 92px;
      }
    }

    /**************
    LARGER ROW AND COL MODIFIERS
    ***************/
    .col-row-modifiers {
      width: 90%;
      margin-bottom: 10px;
      display: flex;
      flex-flow: row;
      margin-left: 5px;

      .col-row-modifiers-group {
        width: 100%;

        .grid-modifier-group {
          height: 20px;
          width: 90%;
          font-size: 13px;
        }
      }
    }

    /**************
    LARGER PRINT ATLAS BUTTON
    ***************/
    #final-step {
      bottom: 25px;
      width: 80%;
      margin-left: 10%;
    }

    .cancel {
      height: 30px;
    }

    #final-step,
    .cancel {
      font-size: 1.7rem;
    }
  }

  #map {
    margin-left: 225px;
    width: calc(100vw - 225px);

    .field-papers-logo, .field-papers-logo img {
      width: 175px;
    }
  }
}
